[submodule "implementations/bcl/src"]
	path = implementations/bcl/src
	url = https://github.com/Huy-DNA/bcl
[submodule "implementations/benches/Caliper"]
	path = implementations/benches/Caliper
	url = https://github.com/LLNL/Caliper.git
